* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: #D7A4F7 !important;
}

button {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    text-transform: uppercase;
    color: #A538DC;
    font-weight: bold;
    font-size: 36px;
    border: solid 4px #FFFFFF;
    padding: 0;
}

button span {
    position: relative;
    top: 0;
    left: 0;
    height: 85%;
    width: 100%;
    padding-top: 2px;
    border-radius: 10px;
}

button:disabled {
    background: #777777;
    color: #555555;
    text-shadow: 2px 2px 4px #aaa;
    border-color: #444444;
}

button:disabled span {
}

.login-form{
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.answer {
    position: relative;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px #333333;
    border: none;
    background: none;
    text-align: center;
}

.answer button {
    margin: 8px 0;
}

.box-score {
    position: relative;
    height: auto;
    border: solid 0px #021745;
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}

input[type="text"],
input[type="password"] {
    font-size: 18px;
    padding: 8px 16px;
    color: #333;
    width: 40%;
    margin-bottom: 15px;
}

.btn-login {
    width: 40%;
    min-height: 35%;
    color: #D7A4F7;
    margin-bottom: 20px;
    background: #fff;
}

.register a {
    color:white;
}

.register:hover{
    color:#fff;
    text-decoration: none;
}

.btn-logout {
    float: right;
    background-color: #D7A4F7;
    border:none;
}

.btn-logout span {
    background: linear-gradient(180deg, #88001b 0%, #ec1c24 100%);
}

.notification {
    position: relative;
    left: 50%;
    top: -24px;
    padding: 8px;
    border-radius: 8px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    border: solid 2px #003500;
    z-index: 1;
}

.correct {
    background: #3e9800;
}

.wrong {
    background: #952200;
}

.hidden {
    display: none;
}

.header .title {
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding: 16px 4px;
}

.header {
    height: 85px;
    padding: 8px 10px;
}

/* Layout */
.head-title {
    margin-top: 100px;
    text-align: center;
}

.head-title h1 { 
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-weight: 100;
  position: relative;
  background: linear-gradient(left, white, #eee, white);
}
.head-title h1:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  background: radial-gradient(50% 50%, ellipse closest-side, #444, white);
  z-index: -1;
}
.head-title h1 a {
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 30px;
  color: white;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
  animation: comein 1.5s 1 ease-in-out forwards;
}

@keyframes comein {
   0% { letter-spacing: 100px; color: rgba(255,255,255,0); }
   70% { letter-spacing: 20px; }
   100% { letter-spacing: 30px; color: rgba(255,255,255,1) }
}

.box-logo button {
    margin-bottom: 10px;
}

.box-category {
    color: #eeeeee;
    text-align: center;
    padding: 16px;
    text-transform: capitalize;
}

.box-category span {
    font-size: 48px;
}

.box-answer {
    margin: 16px 0 85px 0;
    padding: 0 16px;
}

.box-answer-word{
    margin: 16px 0 auto 0;
    padding: 0 16px;
}

.box-button {
    text-align: center;
    margin-bottom: 30px;
}

.box-erase {
    text-align: center;
}

.box-button button {
    margin: 10px;
    font-size: 20px;
}

/* table */
.box-table table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
}

.box-table th {
    color: #D5DDE5;
    background:#1b1e24;
    font-size: 18px;
    padding: 18px;
    vertical-align:middle;
}

.box-table td {
    padding: 8px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.score {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600) {  

    input[type="text"],
    input[type="password"] {
        width: 100%;
    }

} 
